{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <body>
    <h1 class="d-flex justify-content-center">Bienvenue FC-Tourisme</h1>
    <div class="row d-flex justify-content-center mx-5 card-deck mb-3">
        <div class="col-12 col-lg-4 mx-2 mt-3">
            <div class="border border-dark rounded"  style="background: rgba(0,149,255,0.1); min-height: 100%">
            <h2 class="mb-2 d-flex pb-4 p-2 text-white justify-content-center" style="background: #5598fd">Etablissements du Doubs</h2>
        {% for etablissement in e25 |slice(0, 2) %}

<a style="background: rgba(0,149,255,0.05);" class="border border-secondary rounded p-3 text-decoration-none text-dark  justify-content-center d-flex my-4 mx-2" href="{{ path('app_etablissement_slug',{'slug': etablissement.slug}) }}">{{ etablissement.nom }} - {{ etablissement.ville.nom }}</a>

        {% endfor %}
        </div></div>


        <div class="col-12 col-lg-4 mx-2 mt-3" style="">
            <div class="border border-dark rounded"  style="background: rgba(0,149,255,0.1); min-height: 100%">
                <h2 class="mb-2 d-flex pb-4 p-2 text-white justify-content-center" style="background: #5598fd">Etablissements du Territoire de Belfort</h2>
                {% for etablissement in e90 |slice(0, 2) %}

                    <a style="background: rgba(0,149,255,0.05);" class="border border-secondary rounded p-3 text-decoration-none text-dark  justify-content-center d-flex my-4 mx-2" href="{{ path('app_etablissement_slug',{'slug': etablissement.slug}) }}">{{ etablissement.nom }} - {{ etablissement.ville.nom }}</a>

                {% endfor %}
            </div></div>


        <div class="col-12 col-lg-4 mx-2 mt-5">
            <div class="border border-dark rounded"  style="background: rgba(0,149,255,0.10); min-height: 100%">
                <h2 class="mb-2 d-flex pb-4 p-2 text-white justify-content-center" style="background: #5598fd">Etablissements du Jura</h2>
                {% for etablissement in e39 |slice(0, 2) %}

                    <a style="background: rgba(0,149,255,0.05);" class="border border-secondary rounded p-3 text-decoration-none text-dark  justify-content-center d-flex my-4 mx-2" href="{{ path('app_etablissement_slug',{'slug': etablissement.slug}) }}">{{ etablissement.nom }} - {{ etablissement.ville.nom }}</a>

                {% endfor %}
            </div></div>


        <div class="col-12 col-lg-4 mx-2 mt-5">
            <div class="border border-dark rounded"  style="background: rgba(0,149,255,0.10); min-height: 100%">
                <h2 class="mb-2 d-flex pb-4 p-2 text-white justify-content-center" style="background: #5598fd">Etablissements de la Haute-Saône</h2>
                {% for etablissement in e70 |slice(0, 2) %}

                    <a style="background: rgba(0,149,255,0.05);" class="border border-secondary rounded p-3 text-decoration-none text-dark  justify-content-center d-flex my-4 mx-2" href="{{ path('app_etablissement_slug',{'slug': etablissement.slug}) }}">{{ etablissement.nom }} - {{ etablissement.ville.nom }}</a>

                {% endfor %}
            </div></div>


    </div>
    </body>
{% endblock %}
